body {
    font-family: 'Roboto', sans-serif;
    background: url('https://www.w3schools.com/w3images/forestbridge.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

/* Main container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container img {
    filter: drop-shadow(5px 5px 5px green);
}

.table-wrapper {
    overflow-y: auto;
    max-height: 400px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#searchInput {
    padding: 12px;
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1rem;
}

#searchInput::placeholder {
    color: white;
}

.table-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 12px;
    text-align: left;
    font-size: 1rem;
}

th {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

td {
    background-color: rgba(255, 255, 255, 0.1);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

/* Popup styling */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.popup.hidden,
.popup-overlay.hidden {
    display: none;
}

.popup {
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(28px);
    border-radius: 10px;
    padding: 10px;
    max-height: 90%;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: hand;
    background: none;
    border: none;
    padding: 5px;
}

.close-btn:hover {
    color: #ff0000;
}
